Punto_De_Venta/Connected Services/RegistrarProductoWCF/RegistrarProducto3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61771/RegistrarProducto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RegistroProductos" />
  <xs:element name="ListarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ListarProductosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistroProductos" minOccurs="0" name="producto" nillable="true" type="q1:ProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistroProductos" minOccurs="0" name="producto" nillable="true" type="q2:ProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeshabilitarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeshabilitarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeshabilitarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cod" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistroProductos" minOccurs="0" name="ConsultarProductoResult" nillable="true" type="q3:ProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>