Punto_De_Venta/Connected Services/RegistrarProductoWCF/RegistrarProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrarProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61771/RegistrarProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61771/RegistrarProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61771/RegistrarProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:61771/RegistrarProducto.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RegistroProductos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrarProducto_ListarProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductos" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_ListarProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_InsertarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProducto" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_InsertarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_DeshabilitarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeshabilitarProducto" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_DeshabilitarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeshabilitarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_ConsultarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProducto" />
  </wsdl:message>
  <wsdl:message name="IRegistrarProducto_ConsultarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrarProducto">
    <wsdl:operation name="ListarProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarProducto/ListarProductos" message="tns:IRegistrarProducto_ListarProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarProducto/ListarProductosResponse" message="tns:IRegistrarProducto_ListarProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarProducto/InsertarProducto" message="tns:IRegistrarProducto_InsertarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarProducto/InsertarProductoResponse" message="tns:IRegistrarProducto_InsertarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarProducto/ActualizarProducto" message="tns:IRegistrarProducto_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarProducto/ActualizarProductoResponse" message="tns:IRegistrarProducto_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeshabilitarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarProducto/DeshabilitarProducto" message="tns:IRegistrarProducto_DeshabilitarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarProducto/DeshabilitarProductoResponse" message="tns:IRegistrarProducto_DeshabilitarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrarProducto/ConsultarProducto" message="tns:IRegistrarProducto_ConsultarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrarProducto/ConsultarProductoResponse" message="tns:IRegistrarProducto_ConsultarProducto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrarProducto" type="tns:IRegistrarProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarProductos">
      <soap:operation soapAction="http://tempuri.org/IRegistrarProducto/ListarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarProducto">
      <soap:operation soapAction="http://tempuri.org/IRegistrarProducto/InsertarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IRegistrarProducto/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeshabilitarProducto">
      <soap:operation soapAction="http://tempuri.org/IRegistrarProducto/DeshabilitarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarProducto">
      <soap:operation soapAction="http://tempuri.org/IRegistrarProducto/ConsultarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrarProducto">
    <wsdl:port name="BasicHttpBinding_IRegistrarProducto" binding="tns:BasicHttpBinding_IRegistrarProducto">
      <soap:address location="http://localhost:61771/RegistrarProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>